body{
	font-family: Roboto,sans-serif;
	font-size: 1.2em;
	color:#54576D;
	background-color:#FEE2D0;
	padding: 0 3%;
}


h1{
	font-size: 3em;
	font-weight:bolder;
	color:#A66E6C;
	margin: 3% 5%;
}
h3{
	font-size: 1.4em;
	background-color:#A66E6C;
	color: #FEE2D0;
	width:12%;
	text-align: center;
	
}
.partA{
	border-top: 5px solid #665544;
	border-left:5px solid #665544;
	width: 80%;
	margin: 0 5%;
	padding: 2% ;

}
.partB{
	border-top: 5px solid #665544;
	border-bottom: 5px solid #665544;
	border-right: 5px solid #665544;
	width: 80%;
	margin: 0 5%;
	padding: 2%;

}
p, li{
	letter-spacing: 0.01em;
	line-height: 1.4em;
	font-kerning: auto;
	text-align: justify;
	
}
li{
	list-style-type:square;
	padding: 1% 0;
}

#member{
	font-style: italic;
	font-size: 0.9em;
}
