body{
	font-family: helvetica,sans-serif;
	font-size: 1.2em;
	color:#54576D;
	background-color:#FEE2D0;
	padding: 0 3%;
}


h1{
	font-size: 2.5em;
	font-weight:bolder;
	padding: 0 0 2% 0;
	color:#85AE9C;
	
}
h3{
	font-size: 1.5em;
	
}
p, li{
	letter-spacing: 0.01em;
	line-height: 1.3em;
	text-align: justify;
	font-kerning: auto;
}
li{
	list-style-type: decimal;
	padding: 1% 0;
}

#member{
	font-style: italic;
	font-size: 1em;
}
